html {
  box-sizing: border-box;

  color: var(--font-dark);

  font-family: var(--ui-font);
  font-size: var(--rem-size);
}

*, *:before, *:after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}
