:root {
  --wood-dark: hsl(26.47deg, 34%, 19.61%);
  --wood-medium: hsl(26.13deg, 34.44%, 64.71%);
  --wood-light: hsl(24.78deg, 74.19%, 87.84%);

  --charcoal: hsl(204deg, 18.8%, 26.1%);

  --font-light: gray(90);
  --font-dark: gray(12);

  --ui-font: 'Junction', system-ui;

  --rem-size: 18px;

  --room-color: gray(20);
  --room-font-color: var(--font-light);
  --room-accent-color: gray(85);
}

[data-room="den"] {
  --room-color: hsl(39deg, 18%, 71%); /* Ikea beige */
  --room-font-color: var(--font-dark);
  --room-accent-color: hsl(180.38deg, 100%, 31.18%); /* Couch teal */
}
